@import "../../../../styles/abstracts/variables";


button {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}

// for drag list
.example-container {
  width: 400px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;


}

.example-list {

  width: 100%;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  display: flex;

  &--type {
    flex: 0 0 60%;
  }

  &--price {

  }

  &-avilable {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-shopping {
    width: 100%;
    display: flex;
    justify-content: center;

    &--ticket__details {

      &-type {
      }
    
      &-instock {
      }
    
      &-amount {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &-detail {
        }
    
        &-icon {
          max-width: 8rem;
          padding-top: 2px;
          // visibility: hidden;
          opacity: 0.2;
          margin: 0 0.5rem;
          font-size: 1.8rem;
          color: $color-primary;
        }
      }
    
    }
  }


  &:hover &-shopping--ticket__details-amount-icon {
    opacity: 1;
  }


  padding: 10px 10px;
  border-bottom: solid 1px $color-primary-dark;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}




