  <section class="section-features">
    <div class="header__text-box">
      <h1 class="header__text-box--main">Despite the fact that we sale tickets, we also organize events</h1>
      <h3 class="header__text-box--sub">We provide:</h3>
    </div>
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-rss"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Live stream
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dicta
            iure, nesciunt excepturi perferendis commodi, voluptatum,
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-mixer2"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            High quality sound
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dicta
            iure, nesciunt excepturi perferendis commodi, voluptatum,
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-bolt"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Light shows
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dicta
            iure, nesciunt excepturi perferendis commodi, voluptatum,
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon  icon-basic-smartphone"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            SMS API
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dicta
            iure, nesciunt excepturi perferendis commodi, voluptatum,
          </p>
        </div>
      </div>
    </div>
  </section>