<!-- <p class="ticket__details-type">{{ ticket.type }}</p>
<p class="ticket__details-instock">In stock: {{ ticket.inStock }}</p>

<div class="ticket__details-amount">
  <button (click)="decrementAmmount()">
    <mat-icon class="ticket__details-amount-icon">remove_circle </mat-icon>
  </button>
  <p class="ticket__details-amount-detail">
    {{ ammount }}
  </p>
  <button (click)="incrementAmmount()">
    <mat-icon class="ticket__details-amount-icon">add_circle</mat-icon>
  </button>
</div>

 -->
