@import "../../../../styles/abstracts/variables";

button {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.ticket__list {
  display: flex;
  padding: 1rem 1rem;
  color: rgba($color-black, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1.4rem;

  &:not(:last-child) {
    border-bottom: solid 1px $color-primary-light;
  }

  &--type {
    flex: 0 0 60%;
  }

  &-avilable {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-shopping {
    width: 100%;
    display: flex;
    justify-content: center;

    &--ticket__details {
      &-amount {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
          max-width: 8rem;
          padding-top: 2px;
          opacity: 0.1;
          margin: 0 0.5rem;
          font-size: 1.8rem;
          color: $color-primary;
        }
      }
    }
  }

  &:hover &-shopping--ticket__details-amount-icon {
    opacity: 1;
    transition: all .3s;
  }
}
