<section class="section-tours" id="sectionTours">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      Our upcoming events
    </h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1"
              >Golden age hip hop</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>
                Three day festival
              </li>
              <li>Three stages</li>
              <li>24h live stream</li>
              <li>Light events</li>
              <li>50 artists</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Tickets starting from</p>
              <p class="card__price-value">$50</p>
            </div>
            <a class="btn btn--white" (click)="openBookDialog()">Book now!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2"
              >Oriental music festival</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>
                One day festival
              </li>
              <li>Two stages</li>
              <li>Music lectures</li>
              <li>Larping</li>
              <li>10 artists</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Tickets starting from</p>
              <p class="card__price-value">$20</p>
            </div>
            <a class="btn btn--white" (click)="openBookDialog()">Book now!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--3"
              >Electrofest</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>
                2 day festival
              </li>
              <li>Three stages</li>
              <li>Night live stream</li>
              <li>Light events</li>
              <li>30 artists</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Tickets starting from</p>
              <p class="card__price-value">$100</p>
            </div>
            <a class="btn btn--white" (click)="openBookDialog()">Book now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn btn--green" routerLink="/offer">
      More events
    </a>
  </div>
</section>