<section class="section-stories">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="/assets/img/console-light.mp4" type="video/mp4" />
      Your browser is not supported!
    </video>
  </div>
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      Users' opinions
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="/assets/img/artist-1.jpg" alt="Artist" class="story__img" />
        <figcaption class="story__caption">
          Marry Jane
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-teritiary u-margin-bottom-small">
          It was a pleasure to buy tickets on Eventoo.
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          facere.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quasi, facere.Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Quasi, facere.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quasi, facere.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="/assets/img/artist-2.jpg" alt="Artist" class="story__img" />
        <figcaption class="story__caption">
          Jack Sparrow
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-teritiary u-margin-bottom-small">
          Great support from this guys.
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          facere.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quasi, facere.Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Quasi, facere.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quasi, facere.
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
    <a  class="btn-text" (click)="openDialog()">
      Read all stories &rarr;
    </a>
  </div>
</section>