<div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Autem earum velit blanditiis, laborum sit voluptatem.
      </blockquote>
      <figcaption class="review__user">
        <img src="../../assets/img/user-1.jpg" alt="user1" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">Nick Smith</p>
          <p class="review__user-date">Feb 23rd, 2017</p>
        </div>
        <div class="review__rating">7.8</div>
      </figcaption>
    </figure>
    <figure class="review">
      <blockquote class="review__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </blockquote>
      <figcaption class="review__user">
        <img src="../../assets/img/user-2.jpg" alt="user1" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">Marry Thoms</p>
          <p class="review__user-date">Sep 13rd, 2017</p>
        </div>
        <div class="review__rating">9.1</div>
      </figcaption>
    </figure>

    <button class="btn-inline" [routerLink]="['/underConstruction']">Show all <span>&rarr;</span></button>
  </div>
