@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.cart__container {
  display: flex;
  flex-direction: column;
  margin: 5% 1%;
  color: $color-grey-dark-2;

  &--heading {
    text-align: center;
    margin-bottom: 3rem;
  }

  &--table {
    max-width: 100%;
    max-height: 100%;
  }
}

.expanded__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include respond(phone) {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  &--img {
    grid-area: 1 / 1 / 2 / 2;

    justify-content: center;
    align-items: center;
    display: flex;

    padding-bottom: 1rem;
    margin: 1rem auto;

    &-src {
      width: 70%;
      border-radius: 5px;
    }
  }

  &--details {
    grid-area: 1 / 2 / 2 / 3;


    @include respond(phone) {
      grid-area: 2 / 1 / 3 / 2;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-paragraph {
    }

    &-cta {
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );
      width: 30%;
      margin-top: 1rem;
      color: $color-white;
      margin: 1rem auto;

      @include respond(tab-land) {
        font-size: 1.3rem;
      }

      @include respond(tab-port) {
        width: 60%;
      }
    }
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-event-row:not(.example-expanded-row):hover {
  background: $color-primary-light-2;
}

tr.example-event-row:not(.example-expanded-row):active {
  background: #9673b7;
}

.example-event-row td {
  border-bottom-width: 0;
}

.example-event-detail {
  overflow: hidden;
  display: flex;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(214, 180, 246, 0.2),
    0 8px 10px 1px rgba(214, 180, 246, 0.14),
    0 3px 14px 2px rgba(214, 180, 246, 0.12);
}

.mat-cell {
  color: $color-grey-dark-2;
}
