@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins.scss";


:host {
  //   position: relative;
  display: flex;
  align-items: center;
}

.mat-menu-panel {
  overflow: hidden !important;
}


.user-nav__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--icon {
    height: 4.25rem;
    width: 2.25rem;
  }

  &--notification {
    fill: $color-grey-dark-2;
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    @include respond(tab-land-small) {
      top: 0.5rem;
      right: 0.6rem;
    }  
  }
}

.btn__select {
  display: flex;
  align-content: center;
  color: $color-grey-dark-2;

  &--img {
    width: 25%;
    border-radius: 5%;
  }

  &--paragraph {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &-centered {
    justify-content: center;
    font-weight: 600;  }
}

.btn__select:hover {
  background-color: $color-primary-light-2;
}


.cart__list--empty {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--img {
    width: 50%;
  }

  &--paragraph {
    color: $color-grey-dark-2;

  }
}
