<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      We organize the best live music events, tailored to your music taste
    </h2>
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">
        We organise concerts, music festivals and tours
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Consequuntur impedit nisi dolorem illo ullam, minus facilis
        deleniti libero, eaque aspernatur architecto enim vero blanditiis.
        Dolore totam excepturi aliquam tempore eos?
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">
        We provide high quality service
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Consequuntur impedit nisi dolorem illo ullam, minus facilis
      </p>

      <a href="#" class="btn-text" routerLink="/offer/services">Learn more &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img
          src="/assets/img/stage-1.jpg"
          alt="Photo 1"
          class="composition__photo composition__photo--p1"
        />
        <img
          src="/assets/img/stage-2.jpg"
          alt="Photo 2"
          class="composition__photo composition__photo--p2"
        />
        <img
          src="/assets/img/stage-3.jpg"
          alt="Photo 3"
          class="composition__photo composition__photo--p3"
        />
      </div>
    </div>
  </div>
</section>