<div class="description">
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi
      dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut
      corporis incidunt deserunt quae architecto voluptate.
    </p>
    <p class="paragraph">
      Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto
      voluptate delectus, inventore iure aliquid aliquam.
    </p>
    <ul class="list">
      <li class="list__item">Golden Circle Early Entrance 100$</li>
      <li class="list__item">Golden Circle 120$</li>
      <li class="list__item">General Admission 50$</li>
      <li class="list__item">Stands 30$</li>
      <li class="list__item">VIP 250$</li>
    </ul>
    <div class="recommend">
      <p class="recommend__count">
        Lucy and 3 other friends recommend this event.
      </p>
      <div class="recommend__friends">
        <img
          src="../../assets/img/user-3.jpg"
          alt="Friend 1"
          class="recommend__photo"
        />
        <img
          src="../../assets/img/user-4.jpg"
          alt="Friend 2"
          class="recommend__photo"
        />
        <img
          src="../../assets/img/user-5.jpg"
          alt="Friend 3"
          class="recommend__photo"
        />
        <img
          src="../../assets/img/user-6.jpg"
          alt="Friend 4"
          class="recommend__photo"
        />
      </div>
    </div>
    </div>