<app-event-overview [eventData]="eventDataOverview"></app-event-overview>

<mat-vertical-stepper [linear]="true" #stepper pointerEvents>
  <mat-step>
    <ng-template matStepLabel>Select tickets</ng-template>
    <div class="drag__info">
      <mat-icon id="drag__info-icon">arrow_downward</mat-icon>
      <p id="dragInfo">Choose tickets then drag them to your shopping list.</p>
    </div>
    <div class="tickets__lists">
      <app-tickets
        [tickets]="avilableTickets"
        [listType]="aviableTicketsList"
      ></app-tickets>
      <app-tickets [listType]="shoppingList"></app-tickets>
    </div>
    <div>
      <h4>Price {{ totalPrice | async }}$</h4>
    </div>
    <div> 
      <button
        mat-button
        matStepperNext
        [disabled]="!(areTicketsChoosen() | async)"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Account Details</ng-template>
    <app-account-details
      [event]="event"
      [totalPrice]="totalPrice | async"
    ></app-account-details>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <!-- <button mat-button matStepperNext (click)="finalizePayment()">Finalize</button> -->
      <button mat-button (click)="stepper.next()">Finalize</button>

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment options</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
