<app-event-overview [eventData]="eventDataOverview"></app-event-overview>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Select tickets</ng-template>
    <div class="drag__info">
      <mat-icon id="drag__info-icon">arrow_downward</mat-icon>
      <p id="dragInfo">Choose tickets then drag them to your shopping list.</p>
    </div>
    <div class="tickets__lists"> 
      <app-tickets [tickets]="avilableTickets" [listType]="aviableTicketsList"></app-tickets>
      <app-tickets [listType]="shoppingList"></app-tickets>
    </div>
    <div>
      <h4>Price {{ totalPrice | async }}$</h4>
    </div>
    <div>
      <button mat-button matStepperNext (click)="onTicketStoreUpsertAll()">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Account Details</ng-template>
    <div class="detail__container">
      <div class="detail__container-payer-details">
        <h4>Payer details</h4>
        <ul>
          <li>
            <h5>Name:</h5>
            <p>John Doe</p>
          </li>
          <li>
            <h5>Address:</h5>
            <p>Mount Olive, 4801 Reppert Coal Road, Mississippi</p>
          </li>
          <li>
            <h5>Phone:</h5>
            <p>111 111 111</p>
          </li>
          <li>
            <h5>Email:</h5>
            <p>john@gmail.com</p>
          </li>
        </ul>
      </div>
      <div class="detail__container-recipent-details">
        <h4>Recipent details</h4>
        <ul>
          <li>
            <h5>Name:</h5>
            <p>Eventoo company</p>
          </li>
          <li>
            <h5>Address:</h5>
            <p>Fort Wayne, 4783 Cessna Drive, Virginia</p>
          </li>
        </ul>
      </div>
      <div class="detail__container-order-details">
        <h4>Order details</h4>
        <ul>
          <li>
            <p>
              <span>&#x02013;</span>
              {{ event.title }}, {{ event.date | date: "dd/MM/yyyy" }},
              {{ event.location.name }}, Stand ticket x1
            </p>
          </li>
        </ul>
      </div>
      <div class="detail__container-total-price">
        <h4>Total {{ totalPrice }}$</h4>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <!-- </form> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment options</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
