@import "../../../styles/abstracts/variables";

:host {
  flex: 1;
  font-size: 1.7rem;
}

.drag__info {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;

  p {
    margin-left: 1rem;
  }
}

.tickets__lists {
  display: flex;
  justify-content: space-around;
}



//detail_container
.detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(2, min-content);
  row-gap: 2rem;

  li {
    display: flex;

    p {
      margin-left: 1rem;
      font-size: 1.3rem;
    }
  }

  &-payer-details {
    grid-area: 1 / 1 / 2 / 2;
    
  }

  &-recipent-details {
    grid-area: 1 / 2 / 2 / 3;
  }

  &-order-details {
    grid-area: 2 / 1 / 3 / 3;
  }

  &-total-price {
    grid-area: 3 / 1 / 4 / 3;
  }

}


