@import "../../../styles/abstracts/variables";

:host {
  flex: 1;
  font-size: 1.7rem;
}

.drag__info {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;

  p {
    margin-left: 1rem;
  }
}

.tickets__lists {
  display: flex;
  justify-content: space-around;
}


::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}


