<h4 class="heading-secondary heading-secondary-small">Payer details</h4>
<ul>
  <li>
    <h5>Name:</h5>
    <p>
      {{ (userDetails$ | async).firstName }}
      {{ (userDetails$ | async).lastName }}
    </p>
  </li>
  <li>
    <h5>Address:</h5>
    <p>
      {{ (userDetails$ | async).address.city }},
      {{ (userDetails$ | async).address.street }},
      {{ (userDetails$ | async).address.homeNo }},
      {{ (userDetails$ | async).address.postalCode }},
      {{ (userDetails$ | async).address.country }}
    </p>
  </li>
  <li>
    <h5>Phone:</h5>
    <p>{{ (userDetails$ | async).phone }}</p>
  </li>
  <li>
    <h5>Email:</h5>
    <p>{{ (userDetails$ | async).email }}</p>
  </li>
</ul>
