<div class="event" *ngFor="let event of events$ | async; let i = index">
  <img [src]="event.img" alt="" class="event__img" />
  <svg
    [ngClass]="
      (isInShoppingCart(event.id) | async)
        ? 'event__like'
        : 'event__like event__like-bookmark'
    "
    (click)="onAddToShoppingCart(event)"
  >
    <title>
      Add to shopping list
    </title>
    <use
      *ngIf="!(isInShoppingCart(event.id) | async)"
      xlink:href="../../../assets/fonts/sprite.svg#icon-shopping-cart"
    ></use>
    <use
      *ngIf="isInShoppingCart(event.id) | async"
      xlink:href="../../../assets/fonts/sprite.svg#icon-bookmark"
    ></use>
  </svg>

  <h5 class="event__name">{{ event.title }}</h5>
  <div class="event__location">
    <svg class="event__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-map-pin"></use>
    </svg>
    <p>{{ event.location.partialAddress }}</p>
  </div>
  <div class="event__date">
    <svg class="event__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-calendar"></use>
    </svg>
    <p>{{ getDate(event) }}</p>
  </div>
  <div class="event__area">
    <svg class="event__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-documents"></use>
    </svg>
    <p>Starts from {{ getStandsTicketPrice(event.tickets) }}$</p>
  </div>
  <div class="event__price">
    <svg class="event__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-modern-mic"></use>
    </svg>
    <p>{{ event.genre }}</p>
  </div>
  <button class="btn event__btn" [routerLink]="['../event/', event.id]">
    Read more
  </button>
</div>

<div *ngIf="isEmpty$ | async" class="condition-container">
  <img
    src="../../../../assets/img/mirage-list-is-empty.png"
    alt="https://icons8.com"
    class="condition-container--img"
  />
</div>

<div *ngIf="isLoading$ | async" class="condition-container">
  <mat-spinner></mat-spinner>
</div>

<app-pagination></app-pagination>
