<div class="home" *ngFor="let event of events$ | async; let i = index">
  <img [src]="event.img" alt="" class="home__img" />
  <svg class="home__like">
    <use xlink:href="../../../assets/fonts/sprite2.svg#icon-heart-full"></use>
  </svg>
  <h5 class="home__name">{{ event.title }}</h5>
  <div class="home__location">
    <svg class="home__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-map-pin"></use>
    </svg>
    <p>{{ event.location.partialAddress }}</p>
  </div>
  <div class="home__rooms">
    <svg class="home__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-calendar"></use>
    </svg>
    <p>{{ getDate(event) }}</p>
  </div>
  <div class="home__area">
    <svg class="home__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-documents"></use>
    </svg>
    <p>Starts from {{ getStandsTicketPrice(event.tickets) }}$</p>
  </div>
  <div class="home__price">
    <svg class="home__like">
      <use xlink:href="../../../assets/fonts/sprite2.svg#icon-modern-mic"></use>
    </svg>
    <p>{{ event.genre }}</p>
  </div>
  <button class="btn home__btn" [routerLink]="['../event/', event.id]">
    Read more
  </button>
</div>

<app-pagination></app-pagination>

