@import "../../../styles/abstracts/variables";

.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--img {
    width: 50%;
  }

  &--paragraph {
    font-weight: 700;
    color: $color-secondary-light;
    font-size: 4.5rem;
    z-index: 1;
  }

  &--btn {
    border-bottom: 1px solid;
  }
}
