<section class="section-book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <div class="u-margin-bottom-medium">
          <h2 class="heading-secondary">
            Contact us
          </h2>
        </div>

        <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form__group">
            <input
              class="form__input"
              matInput
              placeholder="Full Name"
              formControlName="fullName"
            />
          </mat-form-field>

          <mat-form-field class="form__group">
            <input
              class="form__input"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
        
          <div class="form__group u-margin-bottom-medium">
            <mat-radio-group
              class="form__radio-group"
              formControlName="serviceType"
            >
              <mat-radio-button
                *ngFor="let reqType of requestTypes"
                [value]="reqType"
              >
                {{ reqType }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form__group">
            <button
              type="submit"
              class="btn btn--green"
              [disabled]="!contactForm.valid"
            >
              Send request
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
