@import "../../../styles/abstracts/variables";
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.team {
  justify-content: center;
  display: flex;
  align-items: center;

  position: relative;

  margin: 2rem;

  &--img {
    width: 50%;
    border-radius: 5px;
  }
}

.card__heading{
  position: absolute;
  top: 40%;
  right: 50%;
}

.features {
  padding: 5rem;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;

    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}

.book {
  margin: 0 10%;
}
