<section class="team">
  <img
    src="../../../assets/img/eventoo-team.jpg"
    class="team__img"
    alt="Eventoo Team"
  />
  <h4 class="team__logo card__heading">
    <span class="card__heading-span card__heading-span--3">
      Eventoo
    </span>
  </h4>
</section>

<section class="features">
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-calendar"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Event management</h4>
    <p class="feature__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      distinctio necessitatibus pariatur voluptatibus.
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-hammer"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Event coordination</h4>
    <p class="feature__text">
      Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum
      sed a eligendi aut quia.
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-star-empty"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Special event planning services</h4>
    <p class="feature__text">
      Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur
      harum.
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-grin"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Events entertainment</h4>
    <p class="feature__text">
      Vero ipsum sapiente molestias accusamus rerum. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit.
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-volume-high"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">High quality sound</h4>
    <p class="feature__text">
      Quidem consequatur harum, voluptatum mollitia quae. Tenetur distinctio
      necessitatibus pariatur voluptatibus.
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../assets/fonts/sprite2.svg#icon-lock"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Event Security</h4>
    <p class="feature__text">
      Pariatur voluptatibus quidem consequatur harum, voluptatum mollitia quae.
    </p>
  </div>
</section>

<section class="book">
  <app-book></app-book>
</section>
