@import '../../../../styles/abstracts/mixins';
@import '../../../../styles/abstracts/variables';
:host {
    flex: 0 0 40%;

    @include respond(phone-small) {
        order: 1;
        flex: 0 0 100%;
      }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    &__input {
      font-family: inherit;
      font-size: inherit;
      background-color: $color-grey-light-2;
      border: 0.5px solid $color-grey-light-4;
      padding: 0.7rem 2rem;
      border-radius: 10rem;
      width: 90%;
      transition: all 0.3s;
      margin-right: -3.5rem;
  
      &:focus {
        outline: none;
        width: 100%;
        background-color: $color-grey-light-3;
      }
  
      &::placeholder {
        font-weight: 100;
        color: $color-grey-dark-3;
      }
    }
  
    &__input:focus + &__button {
      background-color: $color-grey-light-3;
    }
  
    &__button {
      border: none;
      background-color: $color-grey-light-2;
  
      &:focus {
        outline: none;
      }
  
      &:active {
        transform: translateY(2px);
      }
    }
  
    &__icon {
      height: 2rem;
      width: 2rem;
      fill: $color-grey-dark-3;
    }
  }