@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins.scss";
:host {
  flex: 1;
}
.event-view {
  background-color: $color-white;
}

.detail {
  font-size: 1.4rem;

  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: 1px solid $color-grey-light-2;

  @include respond(tab-port) {
    padding: 3rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}

