<div class="detail__container">
  <div class="detail__container-payer-details">
    <app-user-details></app-user-details>
  </div>
  <div class="detail__container-recipent-details">
    <app-company-details></app-company-details>
  </div>
  <div class="detail__container-order-details">
    <h4>Order details</h4>
    <ul>
      <li *ngFor="let ticket of orderedTickets | async">
        <p>
          <span>&#x02013;</span>
          {{ event.title }}, {{ event.date | date: "dd/MM/yyyy" }},
          {{ event.location.name }}, {{ ticket.type }} {{ ticket.ammount }}x
        </p>
      </li>
    </ul>
  </div>
  <div class="detail__container-total-price">
    <h4>Total: {{ totalPrice }}$</h4>
  </div>
</div>
