<footer class="footer">
  <div class="row">
    <div class="col-1-of-3">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a [routerLink]="['/offer/services']" class="footer__link"
              >Company</a
            >
          </li>
          <li class="footer__item">
            <a [routerLink]="['/offer/services']" class="footer__link"
              >Contact us</a
            >
          </li>
          <li class="footer__item">
            <a [routerLink]="['../underConstruction']" class="footer__link">Carrers</a>
          </li>
          <li class="footer__item">
            <a [routerLink]="['../underConstruction']" class="footer__link">Privacy</a>
          </li>
          <li class="footer__item">
            <a [routerLink]="['../underConstruction']" class="footer__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-3 footer__logo-box">
      <img
        src="/assets/img/hand-small.png"
        alt="Metal hand"
        class="footer__logo"
      />
      <img
        src="/assets/img/hand-small.png"
        alt="Metal hand"
        class="footer__logo"
      />
    </div>
    <div class="col-1-of-3">
      <p class="footer__copyright">
        Build by
        <a href="https://geborskimateusz.github.io/" class="footer__link"
          >Mateusz Geborski. Copyright &copy;</a
        >
      </p>
    </div>
  </div>
</footer>
