<div class="order__finalization">
  <p class="ribbon">
    <span class="text">Finalize Order</span>
  </p>
  <div mat-dialog-content>
    <p class="order__finalization--paragraph"><span class="order__finalization--warning">This action cannot be undone.</span> <br> Make sure that all of your data is correct. If somethig is wrong go to user settings and edit your data. </p>
  </div>
  <div mat-dialog-actions>
    <button class="order__finalization--btn" mat-button (click)="onNoClick()">Back</button>
    <button class="order__finalization--btn" mat-button [mat-dialog-close]="orderFinalized()" cdkFocusInitial>
      Finalize order
    </button>
  </div>
</div>
