<section class="homes">
  <mat-tab-group>
    <mat-tab label="All">
            <app-events-card-list 
              [events]="allEvents$ | async">
      
            </app-events-card-list >
      
          </mat-tab>
      
          <mat-tab label="Hip-Hop">
      
            <app-events-card-list   
              [events]="hipHopEvents$ | async"
      
            ></app-events-card-list >
      
          </mat-tab>
      
      

        <mat-tab label="Rock">
    
          <app-events-card-list 
            [events]="rockEvents$ | async">
    
          </app-events-card-list >
    
        </mat-tab>
    
        <mat-tab label="Metal">
    
          <app-events-card-list   
            [events]="metalEvents$ | async"
    
          ></app-events-card-list >
    
        </mat-tab>
    
      <mat-tab label="Folk">
    
          <app-events-card-list 
            [events]="folkEvents$ | async">
    
          </app-events-card-list >
    
        </mat-tab>
    
        <mat-tab label="Reggae">
    
          <app-events-card-list   
            [events]="reggaeEvents$ | async"
    
          ></app-events-card-list >
    
        </mat-tab>
    
      <mat-tab label="Soul">
    
          <app-events-card-list 
            [events]="electronicEvents$ | async">
    
          </app-events-card-list >
    
        </mat-tab>
    
        <mat-tab label="Jazz">
    
          <app-events-card-list   
            [events]="jazzEvents$ | async"
    
          ></app-events-card-list >
    
        </mat-tab>

    <mat-tab label="Pop">
      <app-events-card-list [events]="popEvents$ | async">
      </app-events-card-list>
    </mat-tab>

    <mat-tab label="Dance">
      <app-events-card-list
        [events]="danceEvents$ | async"
      ></app-events-card-list>
    </mat-tab>

    <mat-tab label="Flamenco">
      <app-events-card-list [events]="flamencoEvents$ | async">
      </app-events-card-list>
    </mat-tab>

    <mat-tab label="Electronic">
      <app-events-card-list
        [events]="electronicEvents$ | async"
      ></app-events-card-list>
    </mat-tab>
  </mat-tab-group>
</section>
